@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: jost;
  src: url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
}
@font-face {
  font-family: open-sans;
  src: url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
}

.card-bg{
  background: rgba(244, 244, 244, 0.93);
}
.card-shadow{
  box-shadow: -2.572617292404175px 2.572617292404175px 0px 0px #FFF inset;
}
.card-secondary-shadow{
  box-shadow: 0px 28px 57px 0px rgba(190, 190, 190, 0.25);
}
.testimonials-bg{
  background-image: url("/assets/illustrations/Pattern\(1\).png");
}